<div class="container" style="text-align: center">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
      <div class="jumbotron">
        <% if @win_loss == 'W' %>
          <% if (@date < @date_sale_end) %>
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12"> 
                <p id="win">The Brooklyn Nets beat the <%= @opponent %> (<%= @brooklyn %>-<%= @opponent_score %>). Enjoy 50% off your order at Papa-John's until midnight, <%= @date_sale_end.strftime("%B %d, %Y") %> 
                  Their next game is <%= @next_game.strftime("%B %d, %Y") %> at <%= @next_game_tip_off %> against the <%= @upcoming_opponent %>.
                  <br>
                  Discount code: NETSWIN
                </p>
              </div>  
            </div>
            <div id="buttons" class="col-xs-12 col-sm-12 col-md-12">
              <%= link_to "Create a pizza", "http://order.papajohns.com/index.html?site=WEB", class: "btn btn-success btn-lg", id: "continue", type: "button" %>
              <button id="notnow" type="button" class="btn btn-danger btn-lg">
                <span>Not right now</span>
              </button>
          </div>
          <% else %>
          <p>Sorry, time has passed for a discount, please wait until next time.</p>
          <% end %>
        <% else %>
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
              <p id="lose">The Brooklyn Nets lost their last game on <%= @date.strftime("%B %d, %Y") %> to the <%= @opponent %> (<%= @brooklyn %>-<%= @opponent_score %>). Sorry, no half-priced pizza today. Their next game is <%= @next_game.strftime("%B %d, %Y") %> at <%= @next_game_tip_off %> against the <%= @upcoming_opponent %>. Let's hope they win!</p>
              <%= link_to "I still want pizza", "http://order.papajohns.com/index.html?site=WEB", class: "btn btn-success btn-lg", id: "continue", type: "button" %>
              <%= link_to "Let me know when they win", "", class: "btn btn-primary btn-lg", id: "continue", type: "button" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>