
<div class="row"  id="rangers">
  <div class="container">
    <div>
      <div class="jumbotron">
        <h2>New York Rangers</h2>
        <table class="table table-hover">
          <tbody>
            <tr>
              <td>Game result:
                <td>
                  <%= @result %> 
                  <% if Date.yesterday == @date_result %>
                  on
                    <%= @date_result.strftime("%A") %> (yesterday)
                  <% else %>
                  (on <%= (@date_result).strftime("%A") %>)
                  <% end %>
                </td>
              </td>
            </tr>
            <tr>
              <td>Score:
                <td>
                  <%= @rangers %>-<%= @opponent %>
                  <% if !@extra_time.empty? %>
                    (<%= @extra_time %>)
                  <% end %>
                </td>
              </td>
            </tr>
            <tr>
              <td>Opponent:
                <td>
                  <%= @opponent_name %>
                </td>
              </td>
            </tr>
            <tr style="font-weight:bold">
            <% if @result == 'Won' %>
              <td>Discount code:
                <td>Rangers3</td>
              </td>
            </tr>
            <tr style="font-weight:bold">
              <td>Valid until:
                <td>
                  <%= (@date_result + 1.day).strftime("%a. %m/%-d/%Y") %> (11:59:59pm)
                </td>
              </td>
            </tr>
            <% end %>
            </tr>
            <tr>
              <td>Next game: 
                <td>
                  <% if (@date - 1).today? %>
                    Tonight (<%= @date_formatted %>),
                    <%= @time %>
                  <% else %>
                    <%= @date_formatted %> -
                    <%= @time %>
                  <% end %>
                  <br>
                   <%= @at %> <%= @next_opponent %>
                </td>
            </tr>
          </tbody>
        </table>
        <div style="text-align:center">
        <%= link_to "Create a pizza", "http://order.papajohns.com/index.html?site=WEB", class: "btn btn-success btn-lg", id: "continue", type: "button" %>
        <%= link_to "Not right now", "/", class: "btn btn-danger btn-lg", id: "notnow", type: "button"  %>
        </div>
      </div><!-- end jumbotron -->
    </div>
  </div>






